@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #0FA8AE !important;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  border-color: #0FA8AE;
}

.btn-primary:hover {
  border-color: #0FA8AE;
}

.btn-outline-primary {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #0FA8AE;
  border-color: #0FA8AE !important;
}

.btn-outline-primary:hover {
  border-color: #0FA8AE;
  background-color: #0FA8AE;
  color: #fff;
}

.form-control {
  max-width: 100%;
}

.section_title {
  margin-bottom: 30px;
  /*&_button
        border: 1px solid #0FA8AE
        font-family: PT Sans, sans-serif
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 21px
        letter-spacing: 0.015em
        color: #0FA8AE
        max-width: 35%
        padding: 10px 15px
        margin-top: 20px
        background-color: #fff */
}

.section_title a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #0FA8AE;
  padding: 6px;
  border-radius: 3px;
}

.section_title a:hover {
  background-color: rgba(15, 168, 174, 0.1);
}

.section_title span {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #000000;
}

.slider {
  position: relative;
}

.slider_item img {
  width: 100%;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Стрелка */
.slider .slick-arrow {
  z-index: 10;
}

/* Стрелка влево */
.slider .slick-arrow.slick-prev {
  left: -1%;
}

/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  right: -1%;
}

.slider_content {
  position: absolute;
  top: 30%;
  right: 50%;
  z-index: 10;
  max-width: 466px;
  text-align: left;
}

.slider_content_button_wrap {
  max-width: 281px;
  display: flex;
  justify-content: space-between;
}

.slider_content h3 {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
}

.slider_content p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #000000;
}

.header2_top {
  background-color: #fff;
  padding: 5px;
}

.header2_number {
  font-family: Roboto, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header2_menu {
  max-width: 100%;
}

.header2_menu_link {
  text-decoration: none;
  color: #000;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  padding: 10px 70px !important;
}

.header2_menu_link:hover {
  background: #E8E8E8 !important;
}

.header2_bottom {
  background-color: #F4F4F4;
}

.special_view {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #000000;
}

#navbarSupportedContent {
  max-width: 100%;
}

#navbarSupportedContent ul {
  width: 100%;
}

.nav-link {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000 !important;
}

.site_icon span {
  margin-left: 10px;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #000000;
  display: flex;
  align-items: center;
}

.footer_top {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #F1F4F5;
}

.first_links a {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
}

.second_links span {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
}

.second_links span span {
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #000000;
}

.footer_bottom {
  padding-top: 10px;
  background: #E8EDEF;
}

.footer_bottom_left span {
  margin-bottom: 10px;
}

.footer_bottom_right a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #000000;
  margin-bottom: 10px;
}

.letter-change {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #000000;
  padding-top: 5px;
}

.copyright {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.news {
  padding-top: 50px;
}

.news_block {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}

.news_block:hover {
  box-shadow: 0px 3px 30px rgba(60, 60, 60, 0.1);
}

.news_description {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.news_date {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  margin-bottom: 10px;
}

.news_title {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #0FA8AE;
  margin-bottom: 10px;
}

.news_preview {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #000000;
  margin-bottom: 10px;
}

.popular_services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.popular_services_block {
  padding: 30px;
}

.popular_services_block {
  border: 1px solid #ECF2F4;
  margin-bottom: 30px;
  border-radius: 5px;
}

.popular_services_block:hover {
  box-shadow: 0px 3px 30px rgba(60, 60, 60, 0.1);
}

.popular_services_block_title {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
}

.popular_services_description_content {
  padding: 30px 60px 40px 0px;
}

.popular_services_description_content span {
  margin: 10px 20px 10px 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #0FA8AE;
}

.best_specialists {
  background: #F5F8F9;
  padding-top: 60px;
  padding-bottom: 60px;
}

.best_specialists_block {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}

.best_specialists_block:hover {
  box-shadow: 0px 3px 30px rgba(60, 60, 60, 0.1);
}

.best_specialists_block img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.best_specialists_description {
  margin-bottom: 10px;
}

.best_specialists_name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
}

.best_specialists_position {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.specialist_button_wrap {
  margin-top: 20px;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about_description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #000000;
}

.about_img {
  width: 100%;
  border-radius: 5px;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #F5F8F9;
}

.reviews_block {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  padding: 30px 30px 40px 80px;
}

.reviews_icon {
  position: absolute;
  top: 40px;
  left: 40px;
}

.reviews_data {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.reviews_name {
  margin-bottom: 10px;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #000000;
}

.reviews_description {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: #000000;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts_description span b {
  margin-right: 10px;
}

.contacts_social {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contacts_button {
  background: #0FA8AE;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  padding: 10px;
  max-width: 220px;
  min-width: 146px;
}

.contacts_map {
  width: 100%;
}

.contacts span {
  margin-bottom: 10px;
}

.partners {
  background: #F5F8F9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.partners .container .row div {
  padding: 0;
}

.partners_slider_block_content {
  padding: 10px;
  border: 1px solid #D7D7D7;
  background-color: #fff;
}

.slider_block_content_into {
  height: 100%;
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.partners_name {
  text-align: center;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.015em;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.partners_slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.partners_slider .slick-arrow ::before {
  border-radius: 50%;
}

/* Стрелка влево */
.partners_slider .slick-arrow.slick-prev {
  left: 0;
}

/* Стрелка вправо */
.partners_slider .slick-arrow.slick-next {
  right: 0;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
